body{
  background-color: #88CCFF;
}

.App {
  text-align: center;
}
.village{
  z-index: -1;
  position: absolute;
}
.Smurfs ul{
  display: flex;
}

.Smurf{
  background-color: #fffffff5;
  padding: 20px;
  border-radius: 20%;
}
